/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Orbitron:wght@400..900&family=Stalinist+One&family=Yatra+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yatra One", 'Poppins', sans-serif;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  max-width: 850px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Orbitron", 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 800;
}

.tagline {
  display: flex;
  flex-direction: column;
  font-family: "Itim", 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 300;
  margin-top: 30px;
  font-style: italic;
  justify-self: center;
}

.tagline .comma {
  display: flex;
}

.tagline #one {
  display: flex;
  margin-bottom: 10px;
}

.tagline #two {
  display: flex;
}

.tagline div span {
  background-color: #0dc000;
}

.description {
  max-width: 650px;
  justify-self: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

.explore-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  width: fit-content;
  background-color: #f9fafb;
  backdrop-filter: blur(8px);
  border: 2px solid #f9fafb;
  border-radius: 9999px;
  overflow: hidden;
  isolation: isolate;
  font-weight: 600;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
  cursor: pointer;
  color: #111827;
  text-decoration: none;
}

.explore-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #0dc000c2;
  border-radius: 9999px;
  transition: all 0.7s ease;
  z-index: -10;
  transform: scale(1);
}

.explore-button:hover::before {
  left: 0;
  width: 100%;
  transform: scale(1.5);
}

.explore-button:hover {
  color: #f9fafb;
}

.explore-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #374151;
  border-radius: 9999px;
  background: transparent;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  object-fit: contain;
}

.explore-button:hover .explore-icon {
  transform: rotate(90deg);
  background-color: #f9fafb;
  border: none;
}

.explore-text {
  text-decoration: none;
}

.footer {
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.8;
}

.auth-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

.auth-container h2,
.form-container h2,
.result-container h2 {
  font-family: "Orbitron", 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 800;
  color: #fff;
  margin: 0 10px 30px 10px;
}

.form-container form{
  margin-top: 10px; 
}

.auth-container form input,
.form-container input {
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  border: 2px solid #ffffff80;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s, background-color 0.3s;
}

.auth-container form input:focus,
.form-container input:focus {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #0dc000;
}

.auth-container form input:not(:focus),
.form-container input:focus {
  background: rgba(255, 255, 255, 0.15);
}

.login-button,
.form-container button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: 600;
  background-color: #f9fafb;
  color: #000;
  backdrop-filter: blur(8px);
  border: 2px solid #f9fafb;
  border-radius: 9999px;
  overflow: hidden;
  isolation: isolate;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-button::before,
.form-container button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #0dc000;
  border-radius: 9999px;
  transition: all 0.7s ease;
  z-index: -10;
  transform: scale(1);
}

.login-button:hover::before,
.form-container button:hover::before {
  left: 0;
  width: 100%;
  transform: scale(1.5);
}

.login-button:hover,
.form-container button:hover {
  color: #f9fafb;
}

.auth-container p {
  color: white;
  margin-top: 30px;
}

.auth-container a {
  color: #ffdd57;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}

.navbar {
  position: absolute;
  top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 100px;
}

.navbar h2 {
  color: white;
  margin: 0;
}

.navbar h2 a {
  font-family: "Orbitron", 'Poppins', sans-serif;
}

.navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar-nav .btn {
  border-radius: 5px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  color: white;
  margin-right: 10px;
  text-transform: uppercase;
}

.logout-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.025rem;
  font-size: 15px;
  font-weight: 600;
  background-color: #f9fafb;
  color: #000;
  backdrop-filter: blur(8px);
  border: 2px solid #f9fafb;
  border-radius: 100px;
  overflow: hidden;
  isolation: isolate;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logout-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: red;
  border-radius: 9999px;
  transition: all 0.7s ease;
  z-index: -10;
  transform: scale(1);
}

.logout-btn:hover::before {
  left: 0;
  width: 100%;
  transform: scale(1.5);
}

.logout-btn:hover {
  color: #f9fafb;
}

.form-container,
.result-container {

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.form-container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  align-items: center;
}



.form-container button {
  width: 100%;
  width: 222px;
  grid-column: 1 / -1;
  justify-self: center;
}

.result-container p{
  margin-bottom: 10px;
}
.result-container h3 {
  text-transform: uppercase;
}

.crop-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 10px 0;
}

.back-btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  background-color: #f9fafb;
  color: #000;
  backdrop-filter: blur(8px);
  border: 2px solid #f9fafb;
  border-radius: 100px;
  overflow: hidden;
  isolation: isolate;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.back-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #007bff;
  border-radius: 9999px;
  transition: all 0.7s ease;
  z-index: -10;
  transform: scale(1);
}

.back-btn:hover::before {
  left: 0;
  width: 100%;
  transform: scale(1.5);
}

.back-btn:hover {
  color: #f9fafb; 
}